extends layout

block content
  h1= title

  .container
    .items
      .item
        a(href="/flames")
          img(src="/images/flames-screenshot.png", width="480", height="200")
      .item
        p The eternal flames

    .items
      .item
        a(href="/bump")
          img(src="/images/bump-screenshot.png", width="480", height="200")
      .item
        p The Bump Mapping
    
    .items
      .item
        a(href="/palcycle")
          img(src="/images/palcycle-screenshot.png", width="480", height="200")
      .item
        p Palette Cycle

    .items
      .item
        a(href="/sprite")
          img(src="/images/sprites-screenshot.png", width="480", height="200")
      .item
        p Sprite Animation

    .items
      .item
        a(href="/lens")
          img(src="/images/lens-screenshot.png", width="480", height="200")
      .item
        p Lens Animation