doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/sprite.css')
  body
    .container
      .content
        canvas#output(width="640", height="400")
          p Your browser does not support canvas
      
      .banner
        p Sprite Animation by Oaxley
    
      p 'u' to increase the number of particules
      p 'n' to decrease the number of particules
      p '+' to increase the mood
      p '-' to decrease the mood

    script(src="/javascripts/sprite.js")
