doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/flames.css')
  body
    .container
      .content
        canvas#output(width="500", height="200")
          p Your browser does not support canvas
      
      .banner
        p Flames by Oaxley
    
    script(src="/javascripts/flames.js")
