doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/##_project_##.css')
  body
    .container
      .content
        canvas#output(width="320", height="200")
          p Your browser does not support canvas
      
      .banner
        p XXXXXXX by Oaxley
    
    script(src="/javascripts/##_project_##.js")
